{% extends 'appFamiliares/base.html' %}

{% block contenido %}

<!-- Header-->
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">BIENVENIDOS AL VISUALIZADOR DE FAMILIARES</h1>
    </div>
</header>

<!-- About section-->
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Acerca de:</h2>
                <p class="lead">Esta pagina no contiene nada interesante, es el Home de la tarea para visualizar familiares</p>
             </div>
        </div>
    </div>
</section>

{% endblock contenido %}

